$primary-base: rgb(230, 63, 141);
$primary-light: rgb(227, 111, 165);
$primary-dark: rgb(181, 39, 105);

$secondary-base: rgb(0, 180, 214);

$ink-dark: rgb(41, 41, 41);
$ink-coal: rgb(22, 22, 22);
$ink-gray: rgb(112, 112, 112);
$ink-light: rgb(244, 244, 244);
$ink-lightest: rgb(255, 255, 255);
